# Unpivoting Zillow Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Zillow_Raw_Data.csv') # I renamed the Zillow raw CSV to this for readability
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2025-02-28,2025-03-31,2025-04-30,2025-05-31,2025-06-30,2025-07-31,2025-08-31,2025-09-30,2025-10-31,2025-11-30
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,207110.449566,...,493824.286163,492931.812107,491168.688154,489010.822052,486457.575616,484418.652749,483317.759094,483516.627066,484255.215710,485314.226120
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,113594.724488,...,532730.551971,535006.215986,538273.488826,541075.333176,543627.139182,545428.268346,546683.973980,549259.640355,554196.369089,560170.819186
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,103220.367801,...,277168.345569,276340.591274,275386.865756,274586.914502,273592.154809,272656.147386,271725.804845,270951.053082,270215.094557,269582.822654
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,172044.022388,...,526068.983476,525727.409892,525615.600010,526003.958271,528051.792613,530778.424364,532431.562358,533659.083680,534677.622386,536580.437067
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,102574.968423,...,272793.766181,271935.511315,270896.017958,270002.988527,269001.695716,268089.627974,267214.398669,266337.440148,265487.835884,264758.915630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26302,64224,39992,15663,zip,PA,PA,Madison,"Pittsburgh, PA",Westmoreland County,NaN,...,166071.815702,167963.199934,168504.128018,168011.549418,167014.320585,166809.786670,165820.522274,164376.139962,163239.406322,164145.383412
26303,63115,39992,13435,zip,NY,NY,Prospect,"Utica-Rome, NY",Oneida County,NaN,...,168338.006643,167920.316206,167621.956583,167046.081915,167919.321544,169869.423231,172114.739634,173323.580160,172612.965833,170023.292670
26304,66893,39992,21523,zip,MD,MD,Swanton,NaN,Garrett County,NaN,...,106942.533090,103624.006059,101754.737397,101686.024091,103344.564487,105260.971680,106631.511003,107417.878019,107263.364736,106014.823175
26305,78367,39992,46958,zip,IN,IN,Mexico,"Peru, IN",Miami County,NaN,...,146866.829283,147861.746379,148732.482117,149671.545245,150765.007425,152130.761344,152610.064609,152957.924069,153537.515064,155137.750543
26306,97497,39992,93962,zip,CA,CA,Salinas,"Salinas, CA",Monterey County,NaN,...,822795.833814,816935.435942,813244.210163,813552.375840,814630.896020,816484.946963,817994.445512,821217.585740,825614.241391,830086.603245

In [3]:
id_vars = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'City', 'Metro', 'CountyName']

In [5]:
# Unpivoting the data so each date has its own row
df_melted = df.melt(id_vars=id_vars, var_name='Date', value_name='Home Value')

In [7]:
df_melted

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,Date,Home Value
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,2000-01-31,207110.449566
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,2000-01-31,113594.724488
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,103220.367801
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,172044.022388
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,102574.968423
...,...,...,...,...,...,...,...,...,...,...,...
8181472,64224,39992,15663,zip,PA,PA,Madison,"Pittsburgh, PA",Westmoreland County,2025-11-30,164145.383412
8181473,63115,39992,13435,zip,NY,NY,Prospect,"Utica-Rome, NY",Oneida County,2025-11-30,170023.292670
8181474,66893,39992,21523,zip,MD,MD,Swanton,NaN,Garrett County,2025-11-30,106014.823175
8181475,78367,39992,46958,zip,IN,IN,Mexico,"Peru, IN",Miami County,2025-11-30,155137.750543
8181476,97497,39992,93962,zip,CA,CA,Salinas,"Salinas, CA",Monterey County,2025-11-30,830086.603245

In [8]:
# Matching the date format to our mortgage rates table
df_melted['Date'] = df_melted['Date'].str.slice(0,7)
df_melted

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,Date,Home Value
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,2000-01,207110.449566
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,2000-01,113594.724488
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01,103220.367801
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01,172044.022388
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01,102574.968423
...,...,...,...,...,...,...,...,...,...,...,...
8181472,64224,39992,15663,zip,PA,PA,Madison,"Pittsburgh, PA",Westmoreland County,2025-11,164145.383412
8181473,63115,39992,13435,zip,NY,NY,Prospect,"Utica-Rome, NY",Oneida County,2025-11,170023.292670
8181474,66893,39992,21523,zip,MD,MD,Swanton,NaN,Garrett County,2025-11,106014.823175
8181475,78367,39992,46958,zip,IN,IN,Mexico,"Peru, IN",Miami County,2025-11,155137.750543
8181476,97497,39992,93962,zip,CA,CA,Salinas,"Salinas, CA",Monterey County,2025-11,830086.603245

In [10]:
df_melted.to_csv('Zillow_Full_Data.csv', index=False)